html,body {
    height: 100%;
}

body {
    background-color: grey;
    font-family: 'Indie Flower', cursive;

}

#container {
    display: flex;
    
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
}

.postit {
    width: 150px;
    height: 120px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 3px 5px   black;

}


h1 {
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
}

#yellow {
   
    background: linear-gradient(3600deg,#58581e,rgb(245, 240, 95));
    transform: rotate(-5deg);
}

#green {
    
    background: linear-gradient(180deg,#b7ffb7,rgb(163, 163, 163));
transform: rotate(6deg);
}

#purple {
    
    background: linear-gradient(180deg,#b260a1,rgb(156, 151, 151));
    transform: rotate(-10deg);
}
